@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #1f2937;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  word-spacing: 2px;
  letter-spacing: 1px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

#mainNav {
  background-color: #1c2331;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 10px 0;
  transition: padding 0.3s;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}

#mainNav.active {
  transform: translateX(0);
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #d3d3d3;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.nav-link {
  position: relative;
  transition: padding-left 0.3s ease-in-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: calc(1% + 12px);
  height: 2px;
  background-color: white;
  transition: transform 0.3s;
  transform-origin: left center;
  transform: scaleX(1);
}

.nav-link.active {
  padding-left: 20px;
  transition: padding-left 0.3s ease-in-out;
}

.nav-link.active::before {
  transform: scaleX(2);
  transition: transform 0.3s ease-in-out;
}

.nav-item {
  margin-left: 30px;
}

.section {
  background: rgba(28, 35, 49, 0.88);
  color: #fff;
  margin-top: 40px;
  margin-bottom: 400px;
  border-radius: 5px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.section.active {
  opacity: 1;
}

.left-column {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #1c2331;
  padding-top: 50px;
  padding-top: 50px;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}

.left-column.active {
  transform: translateX(0);
}

.left-column ul.navbar-nav li {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.left-column.active ul.navbar-nav li,
.left-column.active ul.navbar-nav li a {
  color: #fff;
  transform: translateX(0);
  opacity: 1;
}

.right-column {
  margin-left: 250px;
  padding: 50px 40px;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #1c2331;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  flex-shrink: 0;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-text a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.footer-text a:hover {
  color: #ccc;
}

.footer-text .custom-link {
  margin: 0 0px;
}

.moving-background {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  z-index: -1;
  background-image: url('https://i.imgur.com/izUkR2P.png');
}

.content {
  padding: 5px;
  font-size: 14px;
}

.content a {
  font-size: inherit;
}

@media (max-width: 767px) {
  .left-column {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 0;
    margin-bottom: 30px;
    transform: translateX(0);
    transition: none;
  }

  .right-column {
    margin-left: 0;
    padding: 0;
  }
}

.section:not(:last-child) {
  margin-bottom: 50px;
}

#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}
