@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-gray-800 text-[#c9cfdc] leading-[26px] tracking-[1px] overflow-x-hidden flex flex-col min-h-screen pt-[50px];
  font-family: "Poppins", sans-serif;
  word-spacing: 2px;
}
a {
  @apply no-underline text-inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
}
#mainNav {
  @apply bg-[#1c2331] font-bold transition-[padding] duration-[0.3s] fixed w-[250px] h-screen z-[1000] translate-x-[-250px] transition-transform duration-[0.3s] ease-[ease-in-out] px-0 py-2.5 border-[none] left-0 top-0 text-2xl;
}
#mainNav.active {
  @apply translate-x-0;
}
.navbar-dark .navbar-brand {
  @apply text-[#c9cfdc];
}
.navbar-dark .navbar-nav .nav-link {
  @apply text-[#d3d3d3] hover:text-[#c9cfdc];
}
.nav-link {
  @apply relative transition-[padding-left] duration-[0.3s] ease-[ease-in-out] before:content-[""] before:absolute before:w-[calc(1%_+_12px)] before:h-0.5 before:bg-[white] before:transition-transform before:duration-[0.3s] before:origin-[left_center] before:scale-x-100 before:-left-5 before:top-2/4 top-[30vh];
}
.nav-link.active {
  @apply transition-[padding-left] duration-[0.3s] ease-[ease-in-out] before:transition-transform before:duration-[0.3s] before:ease-[ease-in-out] before:scale-x-[2];
}
.nav-item {
  @apply ml-[30px];
}
.section {
  @apply text-[#c9cfdc] opacity-0 transition-opacity duration-[0.3s] ease-[ease-in-out] mt-10 mb-[400px] p-5 rounded-[5px];
  background: rgba(28, 35, 49, 0.88);
}
.section.active {
  @apply opacity-100;
}
.left-column {
  @apply fixed w-[250px] h-screen bg-[#1c2331] translate-x-[-250px] transition-transform duration-[0.3s] ease-[ease-in-out] pt-[50px] left-0 top-0;
}
.left-column.active {
  @apply translate-x-0;
}
.left-column ul.navbar-nav li {
  @apply -translate-x-full opacity-0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.left-column.active ul.navbar-nav li,
.left-column.active ul.navbar-nav li a {
  @apply text-white translate-x-0 opacity-100;
}
.right-column {
  @apply ml-[250px] px-10 py-[50px];
}
main {
  @apply grow;
}
footer {
  @apply bg-[#1c2331] text-white text-center shrink-0 px-0 py-[15px];
}
.footer-text {
  @apply mb-2.5;
}
.footer-text a {
  @apply text-white text-2xl mx-2.5 my-0 hover:text-[#ccc];
}
.footer-text .custom-link {
  @apply m-0 text-sm no-underline;
}
.moving-background {
  @apply fixed w-full h-[calc(100%_-_50px)] z-[-1] bg-[url('https://i.imgur.com/izUkR2P.png')] left-0 top-[50px];
}
.content {
  @apply p-[5px];
}
.content a {
  @apply text-[inherit];
}
@media (max-width: 767px) {
  .left-column {
    @apply static w-full h-auto translate-x-0 transition-none mb-[30px] pt-0;
  }
  .right-column {
    @apply ml-0 p-0;
  }
}
.section:not(:last-child) {
  @apply mb-[50px];
}
#contact {
  @apply py-[100px];
}